<div class="row justify-content-center mb-4">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://www.servicenow.com/research/author/nicolas-chapados.html" target="_blank">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/speakers/nicolas_chapados.png" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://www.servicenow.com/research/author/nicolas-chapados.html">Nicolas Chapados</a>
            <h6>ServiceNow Research</h6>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://dpfried.github.io/">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/speakers/daniel_fried.png" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://dpfried.github.io/">Daniel Fried</a>
            <h6>Carnegie Mellon University</h6>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://nlp.stanford.edu/~manning/">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/speakers/chris_manning.png" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://nlp.stanford.edu/~manning/">Chris Manning</a>
            <h6>Stanford University</h6>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://rraileanu.github.io/">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/speakers/roberta_raileanu.png" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://rraileanu.github.io/">Roberta Raileanu</a>
            <h6>Meta</h6>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-4">
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://sivareddy.in/">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/speakers/siva_reddy.png" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://sivareddy.in/">Siva Reddy</a>
            <h6>McGill University / Mila</h6>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://ysu1989.github.io/">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/speakers/yu_su.png" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://ysu1989.github.io/">Yu Su</a>
            <h6>Ohio State University</h6>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <a href="https://taoyds.github.io/">
            <img class="speaker-pic img-fluid mb-2" src="{{ "/assets/img/speakers/tao_yu.png" | prepend:site.baseurl }}">
        </a>
        <div class="speaker-name text-center">
            <a href="https://taoyds.github.io/">Tao Yu</a>
            <h6>University of Hong Kong</h6>
        </div>
    </div>
</div>